/* GLOBAL  */
main section {
  padding: 65px 0 !important;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

main section:nth-child(odd) {
  background-color: #252535;
}

main section:nth-child(even) {
  background-color: #303040;
}

.btn-custom {
  padding: 10px 20px;
  background: linear-gradient(to right, #4d74e6, #2a57dc);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
}

.btn-custom:hover {
  background: linear-gradient(to right, #2a57dc, #4d74e6);
  color: #fff;
  transform: scale(1.01);
}

main section {
  padding-top: 5px;
}

.sec-header {
  color: #fff;
  margin: 30px 0;
}

.hyphen {
  position: relative;
  margin-left: 50px;
  margin-bottom: 0;
}

.hyphen::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  height: 3px;
  width: 30px;
  background: linear-gradient(to right, #4d74e6, #2a57dc);
  z-index: 300;
  border-radius: 2px;
}

.secondary {
  color: #4d74e6;
}

.gray {
  color: gray;
}

::selection {
  background-color: white;
  color: black;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px 0;
}

.pd-10 {
  padding: 10px !important;
}

.round {
  border-radius: 50% !important;
}
a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #428bca;
  text-decoration: none;
}

/* NAV  */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(15, 15, 50, 1);
}
nav ul {
  margin-top: 8px;
  text-align: right;
  right: 0;
  width: 100%;
  /* background-color: rgba(15, 15, 50, 1); */
  padding: 10px 0;
  border-radius: 50px;
}

nav ul li {
  /* float: right; */
  padding: 10px 5px;
  display: inline;
  text-decoration: none;
}
nav ul li .logo {
  /* margin-top: -10px; */
  float: left;
  font-size: 30px;
  color: #ffffff;
  background: -webkit-linear-gradient(#4d74e6, #2a57dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul li a {
  padding: 8px 25px;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}

/* old-active  */
/* .active {
  background: linear-gradient(to right, #3769ff, #2a57dc);
  border-radius: 20px;
  color: #fff;
} */

.active {
  border-bottom: 2px solid white;
}

nav .logo {
  font-weight: 900;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  nav ul {
    padding: 5px;
  }

  nav ul li {
    padding: 5px;
    display: inline;
    text-decoration: none;
  }

  nav ul li a {
    padding: 0 10px 2px;
    text-decoration: none;
    color: #fff;
  }

  nav ul li a:hover {
    text-decoration: none;
    color: #fff;
  }

  nav .logo {
    font-weight: 900;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  nav ul li .fa {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  nav ul li .text {
    display: none;
  }
}
/* INTRO  */

.background-img {
  position: fixed;
  z-index: -1;
  /* height: 100vh; */
  background-color: #060d3b;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  text-align: center;
  filter: saturate(50%);
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  left: 10%;
}

.intro-content .name {
  font-size: 7vw;
  margin-bottom: 25px;
}

.intro .btn-custom {
  margin: 20px 0;
}

/* ABOUT ME  */
.about-me {
  padding: 50px;
}

.about-me-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.profileimg-container {
  width: 350px;
  height: 350px;
  position: relative;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.profileimg-container img {
  /* width: 350px; */
  filter: grayscale(75%);
  height: 350px;
  padding: 5px;
}

@media only screen and (min-width: 1024px) {
  .profileimg-container {
    width: 420px;
    height: 420px;
  }
  .profileimg-container img {
    height: 420px;
  }
}
@media only screen and (min-width: 1440px) {
  .profileimg-container {
    width: 500px;
    height: 500px;
  }
  .profileimg-container img {
    height: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  .profileimg-container {
    margin-bottom: 75px;
  }
}

.about-me .btn-custom {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.about-me-content {
  max-width: 500px;
  color: #fff;
}
.about-me-content p {
  margin-bottom: 0;
}
.technologies {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.technologies div {
  margin: 20px;
  text-transform: capitalize;
}

/* EXPERIENCE */

.experience .container .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.exp-item .icon-container {
  background-color: #4d74e6;
  color: #fff;
  float: left;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  position: relative;
  margin-right: 18px;
}

.exp-item .icon-container::before {
  content: "";
  background-color: #4d74e6;
  position: absolute;
  height: 2px;
  width: 18px;
  left: 40px;
  top: 20px;
  z-index: 1;
}

.exp-item .icon-container i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.exp-content {
  max-width: 450px;
  overflow: hidden;
  color: #fff;
  z-index: 2;
  margin-bottom: 30px;
  border-left: 2px solid #2a57dc;
  padding: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1024px) {
  .exp-content {
    max-width: 400px;
  }
}

/* projects */

.projects .filters ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px;
  list-style: none;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 30px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.projects .filters ul li {
  text-align: center;
  margin-right: 12px;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 22px;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: 0.3s;
  text-transform: uppercase;
}

.projects .filters ul li:hover {
  /* color: blue; */
  font: outline;
}

.projects .filters ul li.is-checked {
  background: linear-gradient(to right, #4d74e6, #2a57dc);
}

.projects .grid-item {
  margin: 10px;
  padding: 30px 10px;
  width: 200px;
  height: 200px;
  /* background-color: #222; */
  overflow: hidden;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.projects .grid-item h5 {
  margin-bottom: 15px;
}

.projects .grid-item .tech {
  color: gray;
}

.projects .grid-item .tech svg {
  margin: 5px 2px !important;
  width: 50px;
  font-size: 25px !important;
}

.projects .grid-content {
  background-color: #252535;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  padding: 30px 10px;
  height: 200px;
  width: 200px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-out;
}

.projects .grid-item:hover .grid-content {
  /* opacity: 1;
  display: block; */
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-out;
}

.projects .grid-content h5 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .projects .grid-item {
    margin: 15px;
    width: 300px;
    height: 300px;
  }

  .projects .grid-content {
    height: 300px;
    width: 300px;
  }
}

/* achievements */

.achievements {
  padding: 30px;
}

.achievement {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.achievement .content {
  color: #fff;
  padding: 20px;
  margin: 30px 10px;
  width: 45%;
  border-radius: 5px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.achievement .content .wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.achievement .content img {
  background-color: #fff;
  border-radius: 5px;
  max-width: 100px;
  max-height: 65px;
  margin-right: 15px;
}

.achievement .content p {
  margin: 25px 0;
}

@media only screen and (max-width: 768px) {
  .achievement .content {
    width: 100%;
  }
}

/* contact-me */

.contact-me .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-me .hex-wrapper {
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.contact-me .hex {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: aqua;
}

.contact-me .hex::after {
  content: "";
  position: absolute;
  top: -20px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 20px solid red;
}

.contact-me .hex::before {
  content: "";
  position: absolute;
  bottom: -20px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 20px solid red;
}

.contact-me .hex .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  padding: 10px !important;
  color: gray;
  text-align: center;
}
