section {
  padding: 50px;
}

/* GLOBAL  */
main section:nth-child(odd) {
  background-color: black;
}

main section:nth-child(even) {
  background-color: rgb(129, 125, 125);
}

.btn-custom {
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

/* NAV  */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 10px 0;
  border-radius: 50px;
}

nav ul li {
  padding: 10px;
  display: inline;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.active {
  background-color: blue;
  padding: 8px 25px;
  border-radius: 20px;
  color: #fff;
}

/* INTRO  */

.background-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.wallpapersafari.com/74/99/M67dUT.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
  position: relative;
}

.intro-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ABOUT ME  */
.about-me {
  padding: 50px;
}

.about-me-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.profileimg-container {
  width: 350px;
  height: 350px;
  background-color: aqua;
}

.about-me-content {
  max-width: 550px;
  color: #fff;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(43, 43, 43);
}

.technologies div {
  margin: 20px;
  text-transform: uppercase;
}

/* EXPERIENCE */
.experience {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.exp-item .icon-container {
  /* padding: 20px; */
  color: #fff;
  float: left;
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  position: relative;
  margin-right: 18px;
}

.exp-item .icon-container::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 2px;
  width: 18px;
  left: 40px;
  top: 20px;
  z-index: 1;
}

.exp-item .icon-container i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.exp-content {
  max-width: 500px;
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  margin-bottom: 30px;
  border-left: 2px solid black;
  padding: 10px;
}

/* projects */

.projects .filters ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px;
  list-style: none;
  max-width: 600px;
  background-color: #222;
  margin: 30px auto;
  border-radius: 30px;
}

.projects .filters ul li {
  text-align: center;
  margin-right: 12px;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 22px;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: 0.3s;
  text-transform: uppercase;
}

.projects .filters ul li:hover {
  /* color: blue; */
  font: outline;
}

.projects .filters ul li.is-checked {
  background-color: blue;
}

.projects .grid {
}

.projects .grid-item {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: #222;
  overflow: hidden;
  border-radius: 5px;
}

.projects .grid-content {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  height: 200px;
  width: 200px;
  z-index: 10;
  background-color: aqua;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s ease-out;
}
@media only screen and (max-width: 600px) {
  .projects .grid-item {
    margin: 15px;
    width: 360px;
    height: 360px;
  }

  .projects .grid-content {
    height: 360px;
    width: 360px;
  }
}

.projects .grid-item:hover .grid-content {
  /* opacity: 1;
  display: block; */
  visibility: visible;
  opacity: 1;
}

/* achievements */

.achievements {
  padding: 30px;
}

.achievement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.achievement .content {
  margin-bottom: 30px;
  width: 450px;
  height: 330px;
  background-color: aqua;
  border-radius: 5px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

/* contact-me */

.contact-me .hex-wrapper {
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.contact-me .hex {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: aqua;
}

.contact-me .hex::after {
  content: "";
  position: absolute;
  top: -20px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 20px solid red;
}

.contact-me .hex::before {
  content: "";
  position: absolute;
  bottom: -20px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 20px solid red;
}

.contact-me .hex .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
